@charset "UTF-8";

#contents h1{
	clear:both;
	text-align:center;
	border-top:solid 3px #ffadd6;
	border-bottom:solid 3px #ffadd6;
	padding:1%;
	margin-left:2%;
	margin-right:2%;
	margin-top:5%;
	font-family: 'Noto Sans JP', sans-serif;

}

.contents h1{
	text-align:center;
	border-top:solid 3px #ffadd6;
	border-bottom:solid 3px #ffadd6;
	padding:1%;
	margin-left:2%;
	margin-right:2%;
	font-family: 'Noto Sans JP', sans-serif;
}

.submit_btn_box{
	text-align:center;
	padding-top:0.2%;
}
